*{
    color: #e0e0e0;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin : 0;
    padding: 0;
    
}

.app-container{
    display: flex;
    background-color: #2c2c2c;
    
}