.conversation-space-container{
   max-width: 700px;
   overflow-y: scroll;
   padding: 8rem;
}

.humanSpace{
display: flex;
justify-content: flex-end;
font-size: 0.9rem;
}

.humanChat{
background: #2f2f2f;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
margin-left: 15rem;
max-width: 500px;
width: fit-content;
}


.gptSpace{
    text-align: left;
    font-size: 0.9rem;

}


