.leftbar-container{
    color  : #adb5b8;
    background-color : #1a1a1a;
    height : 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.copysmith-logo{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    object-fit: contain;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px; 
    cursor:pointer; 
    border-radius: 9px;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.7);
}

button span{
    font-size: 25px;
}

button:hover{
    background-color: rgba(255, 255, 255,0.2);
}


.history-container{
    margin: 10px;
    padding: 10px; 
    flex: 1 1 auto;
    overflow-y: auto;
}



.history-container li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.5rem;
    position: relative;
}

.history-container li:hover{
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 9px;
}

.copyright-container{
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right : 10px;
}

.fa-trash-can{
    position: absolute;
    right: 0;
    visibility: hidden;
}

.history-container li:hover .fa-trash-can{
    visibility: visible;
    color: white;
}