.mainpage-container {
    background-color: #1f1f1f;
    height: 100vh;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.header-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.prompt-container {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    font-size: 1rem;
    border-radius: 12px;
}

#send {
    cursor: pointer;
    position: absolute;
    height: 35px;
    font-size: 19px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}